// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$body-font: "Raleway", sans-serif;

$black: #212121;
$white: #FAFAFA;
$full-white: #fff;
$grey: #9E9E9E;
$lightgrey: #EEEEEE;
$darkgrey: #616161;
